{% extends "layout.twig" %}

{% block content %}

<section>
    {{widget('feature', 'featurehome', {"header": "profile", "strapline":"profile", "buttonText":"Lorem Ipsum","defaultBgImg": asset('images/feature-bg.jpg'), 'positionTopPercentage': '0','showBtn': true})|raw}}
    <div class="header-wrapper clearfix">
        <header>
            <div class="wrapper clearfix">
                <div class="centeralign">
                    {{widget('logo', 'logo', {"defaultlogo": asset('images/logo.png')})|raw}}
                    {{widget('companyname', 'companyname', {"business": "profile"})|raw}}
                    {{widget('profile', 'socialicons', { 'profileType':'socialicons', 'socialicons':'profile'})|raw}}
                </div>
            </div>
        </header>
    </div>
</section>

    <div class="navbar">
        {{widget('extendednavigation', 'navigationheader', {})|raw}}
    </div>

    <div class="bluebar">
        <span>{{widget('content', 'textwidgetbox1', {content: '<h4>Lorem ipsum dolor sit amet.</h4>', lines: 'all'})|raw}}</span>
    </div>

<div class="canvas">
    <div class="main wrapper clearfix">
        {{zone('main')|raw}}
    </div>
</div>

<footer>
    <div class="wrapper clearfix">
        <div class="footerphone">
            {{widget('profile', 'socialicons', { 'profileType':'socialicons', 'socialicons':'profile'})|raw}}
        </div>  
    </div>
</footer>

{% endblock %}
